# VIM

__pycache__/
*.py[cod]
*$py.class

# Pycharm

*.iml
.idea/
*.ipr
*.iws

# Python

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
*~

# Distribution
dist/
MANIFEST

# Build
build
*.egg-info/

# Coverage

.coverage

# Docs
doc/build

.mypy_cache
